{% extends 'layout/base.html' %}

{% block title %}Товары{% endblock %}
{% block content %}
    {% if products_list %}
        <form method="GET" style="margin: 15px 15px 15px 0px">
            <select class="form-select" name="order_type">
                <option value="N">Без сортировки</option>
                <option value="B" {% if  request.GET.order_type == 'B' %} selected {% endif %}>По возрастанию цены</option>
                <option value="Y" {% if  request.GET.order_type == 'Y' %} selected {% endif %}>По убыванию цены</option>
                <option value="C" {% if  request.GET.order_type == 'C' %} selected {% endif %}>Старое</option>
                <option value="H" {% if  request.GET.order_type == 'H' %} selected {% endif %}>Новое</option>
            </select>
            <button type="submit" style="margin-left: 5px" class="btn btn-primary">Отсортировать</button>
        </form>
        <div class="row">
        {% for product in products_list %}
            <a href="{% url 'product_instance' pk=product.id %}" style="height: 500px; margin-left: 10px">
                <p><img src="{{ product.images.all.0.image.url }}" alt="Изображение товара" style="height: 300px;"></p>
                <p>{{ product.title }}</p>
                <p>Размер: {{ product.get_size_display }}</p>
                <p>Цена: {{ product.price }}</p>
            </a>
        {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
            <div class="pagination">
                <span class="page-links">
                    {% if 'order_type' in request.get_full_path %}
                        {% if page_obj.has_previous %}
                            <a href="{{ request.get_full_path }}&page=1">&laquo; Первая</a>
                            <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">Предыдущая</a>
                        {% endif %}
                        <span class="page-current">
                            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">Следующая</a>
                            <a href="{{ request.get_full_path }}&page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                        {% endif %}
                    {% else %}
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; Первая</a>
                            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                        {% endif %}
                        <span class="page-current">
                            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                        {% endif %}
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
    <p>В данный момент в магазине нет товаров, загляните позже!</p>
    {% endif %}
{% endblock %}
