{% extends 'layout/base.html' %}

{% block title %} Товары {% endblock %}
{% block content %}
    {% if products_list %}
    <div class="row">
    {% for product in products_list %}
    <a href="{% url 'product_instance' pk=product.id %}" style="height: 500px; margin-left: 10px">
        <p><img src="{{ product.images.all.0.image.url }}" alt="Изображение товара" style="height: 300px;"></p>
        <p>{{ product.title }}</p>
        <p>Размер: {{ product.get_size_display }}</p>
        <p>Цена: {{ product.price }}</p>
    </a>
    {% endfor %}
    </div>
    {% else %}
    <p>В данный момент в магазине нет товаров, загляните позже!</p>
    {% endif %}
{% endblock %}
